/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* Additional styles for portfolio */
.wrapper {
  width: 100%;
  min-height: 100vh;
}

.content {
  width: 100%;
}

